body {
    margin: 0;
}
#exampleModal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    position: fixed;
    left: 70%;
    transform: translate(-30%);
}
#searchdiv {
    margin-bottom: 20px;
}
.main {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}
#alertPop{
    position: fixed;
    display: none;
    z-index: 1051;
    width: 360px;
}
.addRed{
    border-color: #ff6666;
    border-width: 5px;
}
#textbox {
    display: inline-block;
    width: 392px;
    height: 50px;
    font-size: 22px;
    float: left;
}
.modal-dialog1{
    width: auto;
    margin:10px;
}
.modal-title{
    text-align: center;
}
.modal-footer{
    padding: 5px
}
.modal-footer button {
    font-size: 20px
}
#addbtn {
    display: inline-block;
    height: 50px;
    width: 80px;
    border-radius: 0;
    font-size: 16px;
}
.contactimg{
    border: none;
}
td .btn{
    border-radius: 0;
}
#dialog{
    width: 360px
}
.trashbtn {
    height: 117%;
    width: 100%;
    border-radius: 0;
    border: none;
}
.favoritebtn{
    height: 117%;
    width: 100%;
    border-radius: 0;
    border: none;
}
.forMarg{
    margin-bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    top: 80px;
}
.editbtn{
    height: 117%;
    width: 100%;
    border-radius: 0;
    border: none;
}
.standard-td{
    width: 124px;
    text-align: center;
    padding: 0;
    border: none;
}
.standard-tdTEXT{
    border: 0.5px solid #E5E5E5;
    width: 124px;
    text-align: center;
    padding: 0;
    font-size: 18px;
}
.TB{
    border: 0.5px solid #E5E5E5;
    width: 392px;
}
.contactimg {
    width: 100px;
}
.fill {
    display: block;
    margin-bottom: 10px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 22px;
}
#forAlert{
    position: fixed;
    left: 950px;
    top: 60px;
}
#closebtn {
    height: 35px;
    width: 40px;
    text-align: center;
    float: right;
}